notebooks/emission_text_information_extraction.ipynb
notebooks/Planet_information_extraction_RAG.ipynb
data/processed
data/raw
.DS_Store
data/
*.pyc
*.Zone.Identifier
notebooks/parsing_images.ipynb
data/raw/Southern California Wedding Venues
data/processed/adobe_result
.vscode
.DS_Store
.ipynb_checkpoints
.venv
__pycache__
.condaenv
pdfs
.env
.env
venues
venues_
Southern California Wedding Venues
credentials.json
turing-guard-444623-s7-2cd0a98f8177.json
turing-guard-444623-s7-2cd0a98f8177.json
turing-guard-444623-s7-2cd0a98f8177.json
notebooks/processed
notebooks/The Fifth Rooftop Anaheim/
*/turing-guard-444623-s7-2cd0a98f8177.json
turing-guard-444623-s7-2cd0a98f8177.json
processed/
.cache_ggshield

notebooks/**/