
__pycache__
.cache_ggshield
.condaenv
.DS_Store
.env
.env
.ipynb_checkpoints
.venv
.vscode
*.pyc
*.Zone.Identifier
*/turing-guard-444623-s7-2cd0a98f8177.json
credentials.json
data/
data/processed
data/processed/adobe_result
data/raw
data/raw/Southern California Wedding Venues
notebooks/**/
notebooks/emission_text_information_extraction.ipynb
notebooks/parsing_images.ipynb
notebooks/Planet_information_extraction_RAG.ipynb
notebooks/processed
notebooks/The Fifth Rooftop Anaheim/
pdfs
processed/
Southern California Wedding Venues
turing-guard-444623-s7-2cd0a98f8177.json
venues
venues_