notebooks/emission_text_information_extraction.ipynb
notebooks/Planet_information_extraction_RAG.ipynb
data/processed
data/raw
.DS_Store
*.pyc
notebooks/parsing_images.ipynb
data/raw/Southern California Wedding Venues
data/processed/adobe_result
.vscode
.DS_Store
.ipynb_checkpoints
.venv
__pycache__
.condaenv
pdfs
.env