notebooks/emission_text_information_extraction.ipynb
notebooks/Planet_information_extraction_RAG.ipynb
notebooks/parsing_images.ipynb
data/raw/Southern California Wedding Venues
data/processed/adobe_result